numpy==1.19.2
keras==2.6.0
imageio==2.8.0
matplotlib==3.2.2
natsort==7.0.1
nibabel==3.1.0
pandas==1.0.5
Pillow==7.1.2
radiomics==0.1
scikit_learn==0.23.1
scikit-image
tensorflow==2.6.2
tensorflow-probability==0.14.1
flask==1.1.2
segmentation_models==1.0.1
scipy==1.4.1
jinja2
pdfkit==0.6.1
xlrd
antspyx==0.2.9
antspynet==0.1.3
