{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Volumetric Report {% endblock %}</h1>
    <form method="POST" action="{{ url_for('vol') }}" enctype="multipart/form-data">
      <p>Image<br><input type="file" name="file" required></p>
      <p>Mask<br><input type="file" name="file" required></p>
      <!-- <p>Atlas<br><input type="file" name="file" required></p>
      <p>Atlas Mappings<br><input type="file" name="file" required></p> -->
      <p>
        <label for="atlas">Atlas</label>
        <select id="atlas" name="atlas"> 
          <option value="AAL">AAL</option>
        </select>
      </p>
      <p><input type="submit" value="Submit"></p>
  </form>


{% endblock %}