.sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }

@font-face {
  font-family: 'Gidole';
  src: url('fonts/GidoleFont/Gidole-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: Gidole;
  background-color: #94d0d1;
  color: black;
}

table {
  border-collapse: collapse;
  /* text-align: left; */
  border: black;
}

h1 {
  margin: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

body {
  margin: 20px;
}

th, td {
  padding: 15px;
}
