<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="report.css">
  <title>DeepResection</title>
</head>
<body>
<div id="header">
  <h1>
    DeepResection
  </h1>
  <h2>
    An automatic resection segmentation tool.
  </h2>
</div>

<div class="flex-container">
  <div class="vol_table">
    <table border="1" class="dataframe" id="report">
  <thead>
    <tr style="text-align: center;">
      <th>Region</th>
      <th>Remaining (%)</th>
      <th>Volume Resected (cubic cm)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ParaHippocampal_R</td>
      <td>45.98</td>
      <td>3.36</td>
    </tr>
    <tr>
      <td>Temporal_Pole_Mid_R</td>
      <td>49.31</td>
      <td>2.88</td>
    </tr>
    <tr>
      <td>Temporal_Pole_Sup_R</td>
      <td>77.62</td>
      <td>1.56</td>
    </tr>
    <tr>
      <td>Fusiform_R</td>
      <td>83.51</td>
      <td>2.19</td>
    </tr>
    <tr>
      <td>Temporal_Inf_R</td>
      <td>85.63</td>
      <td>2.61</td>
    </tr>
    <tr>
      <td>Temporal_Mid_R</td>
      <td>92.38</td>
      <td>1.80</td>
    </tr>
    <tr>
      <td>Amygdala_R</td>
      <td>93.44</td>
      <td>0.11</td>
    </tr>
    <tr>
      <td>Hippocampus_R</td>
      <td>93.47</td>
      <td>0.34</td>
    </tr>
    <tr>
      <td>Cerebelum_4_5_R</td>
      <td>99.56</td>
      <td>0.02</td>
    </tr>
    <tr>
      <td>Cerebelum_3_R</td>
      <td>99.91</td>
      <td>0.00</td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="vol_imgs">
    
 <img src="resection_views.png" align="top right"/>
  </div>
</div>

</body>
</html>